<div class="panel panel-default" *ngIf="book$|async as item">
  <div class="panel-heading">
    <h2 class="panel-title">
        <span class="label label-info">
          {{item.book.price|currency: 'EUR': true}}
        </span>
        &nbsp;
        {{item.book.title}}

      <div class="pull-right">
        <button class="btn btn-primary btn-sm">
          Ajouter au panier
        </button>

        <a *ngIf="item.previousId" class="btn btn-sm btn-default" [routerLink]="['/catalog/book/', item.previousId]">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a *ngIf="item.nextId" class="btn btn-sm btn-default" [routerLink]="['/catalog/book/', item.nextId]">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

        <a class="btn btn-sm btn-default" [routerLink]="['/catalog/list']">Retour au Catalogue</a>
      </div>
      <div class="clearfix"></div>
    </h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <img width="100%" [src]="item.book.image" />
      </div>
      <div class="col-md-10">

        <div [innerHTML]="item.book.description"></div>

        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">{{item.book.author}}</span>
            <b>Auteur</b>
          </li>

          <li class="list-group-item">
            <span class="badge">{{item.book.rating}} / 5</span>
            <b>Note</b>
          </li>

          <li class="list-group-item">
            <span class="badge">{{item.book.pages}}</span>
            <b>Pages</b>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
