<h1>
  Compléter ma commande
</h1>

<pre>{{data|json}}</pre>
<p>
  <button (click)="log(form)">Log</button>
</p>

<form #form="ngForm">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            Identité du client
          </h2>
        </div>
        <div class="panel-body">

          <div class="form-group">
            <label>
              Prénom
            </label>
            <input class="form-control" type="text" name="firstName" [(ngModel)]="data.identity.firstName" />
          </div>

          <div class="form-group">
            <label>
              Nom
            </label>
            <input class="form-control" type="text" name="lastName" [(ngModel)]="data.identity.lastName" required minlength="2" />
          </div>

          <div class="form-group">
            <label>
              Email
            </label>
            <input class="form-control" type="email" name="email" [(ngModel)]="data.identity.email" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            Adresse de livraison
          </h2>
        </div>
        <div class="panel-body">

          <div class="form-group">
            <label>
              Numéro et rue
            </label>
            <input class="form-control" type="text" name="address" required [(ngModel)]="data.shipping.address" />
          </div>

          <div class="form-group">
            <label>
              Code Postal
            </label>
            <input class="form-control" type="text" name="postalCode" [(ngModel)]="data.shipping.postalCode" required pattern="[0-9]{5}" />
          </div>

          <div class="form-group">
            <label>
              Ville
            </label>
            <input class="form-control" type="text" name="city" [(ngModel)]="data.shipping.city" required />
          </div>

          <div class="form-group">
            <label>
              Pays
            </label>
            <input class="form-control" type="text" name="country" [(ngModel)]="data.shipping.country" required />
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="text-center">
    <button class="btn btn-block btn-primary">Poursuivre la commande</button>
  </div>

</form>
