<h1>
  Compléter ma commande
</h1>

<form #form="ngForm" [class.submitted]="form.submitted" (ngSubmit)="save(data)">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            Identité du client
          </h2>
        </div>
        <div class="panel-body">

          <div class="form-group">
            <label>
              Prénom
            </label>
            <input class="form-control" type="text" name="firstName" [(ngModel)]="data.identity.firstName" />
          </div>

          <div class="form-group">
            <label>
              Nom
            </label>
            <input class="form-control" type="text" name="lastName"
                   [(ngModel)]="data.identity.lastName"
                   required
                   minlength="2"
                   #ngModelLastName="ngModel"
            />
            <app-error [control]="ngModelLastName" [form]="form"></app-error>
          </div>

          <div class="form-group">
            <label>
              Email
            </label>
            <input class="form-control" type="email" name="email" [(ngModel)]="data.identity.email" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            Adresse de livraison
          </h2>
        </div>
        <div class="panel-body">

          <div class="form-group">
            <label>
              Numéro et rue
            </label>
            <input class="form-control" type="text" name="address" [(ngModel)]="data.shipping.address" />
          </div>

          <div class="form-group">
            <label>
              Code Postal
            </label>
            <input class="form-control" type="text" name="postalCode"
                   [(ngModel)]="data.shipping.postalCode"
                   required pattern="[0-9]{5}"
                   #ngModelPostalcode="ngModel"
            />
            <app-error [control]="ngModelPostalcode" [form]="form"></app-error>
          </div>

          <div class="form-group">
            <label>
              Ville
            </label>
            <input class="form-control" type="text" name="city"
                   [(ngModel)]="data.shipping.city"
                   required
                   #ngModelCity="ngModel"
            />
            <app-error [control]="ngModelCity" [form]="form"></app-error>
          </div>

          <div class="form-group">
            <label>
              Pays
            </label>
            <input class="form-control" type="text" name="country" [(ngModel)]="data.shipping.country" />
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-block btn-primary" [disabled]="form.inv">Poursuivre la commande</button>
  </div>

</form>
