<table class="table table-striped">
  <tbody>
    <tr *ngFor="let book of books">
      <td>
        <img [src]="book.image" [alt]="book.title" class="img-responsive" />
      </td>
      <td>
        <a [routerLink]="['/catalog/book/', book._id.$oid]">{{book.title}}</a>
      </td>
      <td>{{book.author}}</td>
      <td>
        {{book.rating}}/5
      </td>
      <td class="text-right">
        <span class="label label-info">{{book.price|currency: 'EUR':true }}</span>
      </td>
      <td class="text-right">
        <button class="btn btn-sm btn-primary">Ajouter</button>
      </td>
    </tr>
  </tbody>
</table>
